/* Page elements */

:root {
    color: white;
    background-color: #333333;
}

#header {
    color: black;
    background-color: #cd9090;
}


/* Parameter controls */

param-slider {
    color: black;
    background-color: #999999;
}

param-slider :hover {
    color: black;
    background-color: #bbbbbb;
}

param-slider .fill {
    color: black;
    background-color: #ec6708;
}

param-button {
    color: black;
    background-color: #999999;
}

param-button :hover {
    color: black;
    background-color: #bbbbbb;
}

param-button :checked {
    color: black;
    background-color: #ec6708;
}


/* Grid with steps */

.step {
    background-color: #666666;
    border-radius: 3px;
}

.step.current {
    background-color: #999999;
}

.step.default .content {
    background-color: #ec6708;
    border-radius: 50%;
}

.step.weak .content {
    background-color: #585118;
    border-radius: 50%;
}