/* Page elements */

:root {
    color: white;
    background-color: #333333;
}

#header {
    color: black;
    background-color: #cd9090;
    height: 40px;
    padding: 5px;
    font-size: 20px;
}

#main {
    padding: 20px;
}

/* Parameter controls */

param-slider {
    color: black;
    background-color: #999999;
}

param-slider :hover {
    color: black;
    background-color: #bbbbbb;
}

param-slider .fill {
    color: black;
    background-color: #ec6708;
}

param-button {
    color: black;
    background-color: #999999;
}

param-button :hover {
    color: black;
    background-color: #bbbbbb;
}

param-button :checked {
    color: black;
    background-color: #ec6708;
}

/* Step cells */

.step {
    background-color: #666666;
    corner-radius: 3px;
    width: 25px;
    height: 25px;
    padding: 3px;
}

.step.current {
    background-color: #999999;
}

.step .content {
    background-color: #666666;
}

.step.normal .content {
    background-color: #ec6708;
    corner-radius: 50%;
}

.step.accent .content {
    background-color: #ff0000;
    corner-radius: 50%;
}

.step.weak {
    padding: 6px;
}

.step.weak .content {
    background-color: #ec6708;
    corner-radius: 50%;
}

.step.ghost {
    padding: 6px;
}

.step.ghost .content {
    background-color: #1133aa;
    corner-radius: 50%;
}
