:root {
    color: white;
    background-color: #333333;
}

#header {
    color: black;
    background-color: #cd9090;
}

button label {
    color: blue;
}

.step {
    background-color: #666666;
    border-radius: 3px;
}

.step.current {
    background-color: #999999;
}

.step.active .content {
    background-color: #ec6708;
    border-radius: 50%;
}

.slider {
    color: black;
    background-color: green;
}

.slider:hover {
    background-color: #03ca03;
}